/* ======================= */
/* ===== ABOUT US ======== */  
/* == BUTTONS (WILLOW) === */
/* =============--======== */
.heading {
  color: black;
}
.style1 {
  width: clamp(5rem, 20vw + 0.875rem, 14.375rem); 
  margin: auto;
}

.style1 a:hover {
  background-color: white;
  color: #000000;
}
.style1 a {
  color: white;
  background-color: black;  
}

.style2 {
  width: clamp(5.313rem, 26.133vw - 0.077rem, 17.563rem); 
  margin: auto;
}

.style2 a:hover {
  background-color: #000000;
  color: white;
}
.style2 a {
  color: black;
  border: 1px solid black;
  background-color: transparent; /* Example: A new color for the second button style */
} 